In [ ]:
# LINEAR REGRESSION

# Y = A+BX (SIMPLE LINEAR REGRESSION)

# Y = A+B1X1+B2X2+........BNXN (MLRM)

# Y^ = A+B1X1...BNXN+C


# ERROR(C) = Y-Y^

# INTERCEPT

# SLOPE/COEFFICIENT 

# R-SQUARE : THE VALUE OF Y THAT IS BEING EXPLAINED BY ALL THE IND VARIABLES

# ADJUSTED R-SQUARE : THE VALUE OF Y THAT IS BEING EXPLAINED BY IMPORTANT IND VARIABLES

# FINAL RESULT


# MEAN SQUARE ERROR
# SUM OF SQUARE ERROR
# ROOT MEAN SQUARE ERROR


# OVERFITTING AND UNDERFITTING PROBLEM

# CROSS VALIDATION

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")

In [24]:
cars_data = pd.read_csv(r"D:\Works Stuffs\Misc\Datasets\Cars Dataset\data_cars2.csv")

In [25]:
cars_data.head()

,Unnamed: 0,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MSRP_1
0,1,3.2,6.0,290,17,24,3153,100,174,89765
1,2,3.5,6.0,225,18,24,3893,115,197,46100
2,3,3.5,6.0,225,18,24,3880,115,197,43755
3,4,3.5,6.0,265,17,23,4451,106,189,36945
4,5,3.2,6.0,270,20,28,3575,108,186,33195

In [26]:
cars_data = cars_data.drop(["Unnamed: 0","MPG_Highway"],axis = 1)

In [27]:
cars_data.describe()

,EngineSize,Cylinders,Horsepower,MPG_City,Weight,Wheelbase,Length,MSRP_1
count,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,3.196729,5.807512,215.885514,20.060748,3577.953271,108.154206,186.362150,32107.733645
std,1.108595,1.558443,71.836032,5.238218,758.983215,8.311813,14.357991,17301.272453
min,1.300000,3.000000,73.000000,10.000000,1850.000000,89.000000,143.000000,10280.000000
25%,2.375000,4.000000,165.000000,17.000000,3104.000000,103.000000,178.000000,20334.250000
50%,3.000000,6.000000,210.000000,19.000000,3474.500000,107.000000,187.000000,27635.000000
75%,3.900000,6.000000,255.000000,21.250000,3977.750000,112.000000,194.000000,39205.000000
max,8.300000,12.000000,500.000000,60.000000,7190.000000,144.000000,238.000000,146430.000000

In [28]:
cars_data = cars_data.dropna()

In [29]:
cars_data.isnull().any()

EngineSize    False
Cylinders     False
Horsepower    False
MPG_City      False
Weight        False
Wheelbase     False
Length        False
MSRP_1        False
dtype: bool

In [31]:
y = cars_data[["MSRP_1"]]
X = cars_data.drop(["MSRP_1"], axis = 1)

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [33]:
cars_data.shape

(426, 8)

In [34]:
X_train.shape

(298, 7)

In [35]:
X_test.shape

(128, 7)

In [36]:
y_train.shape

(298, 1)

In [37]:
y_test.shape

(128, 1)

In [38]:
regressor = LinearRegression()

regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
r_square_train = regressor.score(X_train,y_train)
r_square_train

0.7516496112296827

In [40]:
r_square_test = regressor.score(X_test,y_test)
r_square_test

0.7627739225677932

In [41]:
print(regressor.intercept_)

[23594.87843008]

In [46]:
print(regressor.coef_)

[[-3388.51663735  1867.53105598   220.49055172   360.88005926
      4.93861282  -768.00086437    99.81135185]]

In [49]:
y_pred = regressor.predict(X_test)

In [53]:
print("Mean Absolute Error:", metrics.mean_absolute_error(y_pred,y_test))
print("Mean Squared Error:",metrics.mean_squared_error(y_pred,y_test))
print("Root Mean Squared Error:",np.sqrt(metrics.mean_squared_error(y_pred,y_test)))

Mean Absolute Error: 5891.103392825771
Mean Squared Error: 67144168.15652564
Root Mean Squared Error: 8194.154511389546